<div class="container">
  <div id="explore">
    <div class="form-group">
      <div class="typeahead-container">
        <input
          id="typeahead-basic"
          type="text"
          class="form-group__input"
          placeholder="Search university name"
          [(ngModel)]="inputValue"
          [ngbTypeahead]="search"
          (keyup.enter)="showDetail()"
        />
      </div>
      <ng-select
        [items]="countries"
        bindLabel="name.common"
        bindValue="name.common"
        class="ng-select"
        placeholder="Please choose a country"
        [(ngModel)]="selectValue"
      >
      </ng-select>
      <button (click)="showDetail()" class="form-group__button">
        <i class="fas fa-search"></i> SEARCH
      </button>
    </div>
    <h2 class="border-top" *ngIf="isDisplay">
      {{ universities.length }} Colleges Found
    </h2>
    <section
      class="universities"
      *ngFor="
        let university of universities
          | paginate : { itemsPerPage: 10, currentPage: page }
      "
    >
      <div class="university-center">
        <div class="university">
          <div class="university-desc">
            <h4 class="university-title">
              {{ university.name }}
            </h4>

            <p class="university-country">
              {{ university.country | json | slice : 1 : -1 }}
            </p>
            <!-- <p>{{university.state-province}}</p> -->
            <a
              class="university-url"
              href="https://{{ university.domains }}"
              target="_blank"
              >{{ university.domains }}</a
            >
          </div>
        </div>
      </div>
    </section>

    <p class="border-top" *ngIf="!isDisplay">
      Select your country or university ..
    </p>
    <pagination-controls
      *ngIf="isDisplay && universities.length"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
